.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 0 32px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }
}

.container-article {
  width: 100%;
  max-width: 748px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }
}
