@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$file-path}.woff2') format('woff2');

    // font-display: block;

    font-display: swap;
  }
}

// @include font-face(
//   'Gilroy',
//   '#{$fonts-path}/gilroy/Gilroy-Medium',
//   500,
//   normal
// );
