HOST=0.0.0.0
PORT=3000

NUXT_PUBLIC_CLIENT_URL=https://example.com
NUXT_PUBLIC_CMS_URL=https://cms.example.com
MONITOR_API_URL=http://127.0.0.1:8080

DELAY_HYDRATION_DEBUG=false

GTM_ID=
TURNSTILE_SITE_KEY=
